html {
    font-family: 'Pangolin', cursive;
}
body {
    margin: 0;
}
.main-bar {
    background: black;
    padding: 30px 60px;
    border: 3px dashed blue;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar__nav {
    display: flex;
}

.main-nav__nav-item {
    text-decoration: none;
    color: white;
    padding: 5px 8px;
    margin: 0px 5px;
    font-size: 24px;
    font-weight: 400;
    border-radius: 4px;
}

.main-nav__nav-item:hover {
    transition: all .5s ease-in-out;
    background: white;
    color: black;
}

.main-nav__nav-item._ico {
    background: #222288;
}

.main-content {
    background: #ccc;
    padding: 20px;
    display: flex;
}

.navigation-bar {
    background: #0f0;
    padding: 20px;
    width: 300px;
    margin-right: 40px;
}

.content {
    background: #009;
    padding: 20px;
    color: #fff;
}

.navigation-link {
    display: block;
    margin-bottom: 10px;
}

.navigation-link:last-child {
    margin-bottom: 0px;
}

.content-item__img {
    display: block;
    width: calc(50% - 40px);
    margin: 0 20px;
}

.content-item__element._img {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
}

.ordered-list {
    list-style-type: lower-alpha;
}

.ordered-list li {
    margin-top: 50px;
}

 div ~ span {
    color: red;
}

table {
    width: 600px;
    margin: 60px 0px;
    border-collapse: collapse;
}

thead td {
    background: gray;
}

td {
    border: 1px solid black;
    padding: 20px 10px;
    background: white;
    color: black;
    transition: all .5s ease-in-out;
}

tfoot td {
    background: #ff3377;
}

tbody tr:hover td {
    background: #ccc;
}
